@model BookStore.Models.Purchase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма оформления покупки</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.BookId)
        @Html.LabelFor(m => m.Person, "Введите своё имя")
        <br />
        @Html.TextBoxFor(m => m.Person)
        <br /><br />
        @Html.LabelFor(m => m.Address, "Введите адрес")
        <br />
        @Html.TextBoxFor(m => m.Address)
        <p><input type="submit" value="Отправить" /></p>
    }

    @* Формы *@
        @*@Html.TextArea("text", "Привет<br />мир", 5, 50, null)
        <br />

        @Html.Password("UserPassword", "pass")
        <br />

        @Html.RadioButton("color", "red")
        <span>Красный</span><br />
        @Html.RadioButton("color", "blue")
        <span>Синий</span><br />
        @Html.RadioButton("color", "green", true)
        <span>Зеленый</span><br />
        <br />

        @Html.CheckBox("Enable", false)
        <br />

        @Html.Label("Name")
        <br />

        @Html.DropDownList("countries", new SelectList(new string[] { "Russia", "USA", "Canada", "France" }), "Countries")
        <br />
    }

    @using (Html.BeginForm("Country", "Home", FormMethod.Post))
    {
        @Html.ListBox("countries", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))
        <p><input type="submit" value="Отправить" /></p>
    }

    @using (Html.BeginForm("MyAciton", "Home", FormMethod.Post))
    {
        <input type="text" name="product" /><br />
        <button name="action" value="add">Добавить</button>
        <button name="action" value="delete">Удалить</button>
    }*@
</div>
